.flexFormLogin{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}

.formSpecific{
    padding: 35px;
    border: 1px solid mediumpurple;
    border-radius: 20px;
    background: white;
    box-shadow: 0 0 20px 0px mediumpurple;
}

.inputBoxLength{
    width: 25vw;
}

.submitBtn{
    margin-top: 10px;
    text-align: center;
}

.headerSpecificInForm{
    position: absolute;

}

.headingForm{
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 20px;
    color: black;
}